{% extends 'base.html.twig' %}
{% block title %}Podcast:
	{{ post.titulo }}
{% endblock %}
{% block body %}
	<div class="container col-md-10 offset-md-1 col-lg-8 offset-lg-2 bg-white rounded my-3 p-4">
		<div class="row d-flex justify-content-between">
			<span class="mx-3 font-weight-bold">{{post.titulo}}</span>
			<span class="mx-3" style="color:#639425;">
				Fecha de publicación:
				{{ post.fechapublicacion | date('d-m-Y') }}
			</span>
		</div>
		<hr>

		<div class="row">
			<div class="d-flex bd-highlight">

				<div class="text-justify my-3 mx-3">
					{{ post.descripcion }}
				</div>
			</div>
		</div>
		<hr>


		<div class="row justify-content-center">
			<div class="p-2 bd-highlight my-3">
				<div class="align-self-center">
					<img class="rounded" src="{{ asset('uploads/photos/'~post.foto) }}" width="150px">
				</div>
			</div>
		</div>


		<div class="row justify-content-center">
			<div class="p-2 bd-highlight my-3">
				<audio src="{{ asset('uploads/audios/'~post.audio) }}" controls>
					<p>Tu navegador no implementa el elemento audio</p>
				</audio>
			</div>

		</div>
		<a href="{{ path('editar_podcast', {'id':post.id}) }}" class="btn btn-sm btn-primary mr-3">Editar</a>
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-{{post.id}}">
			Borrar
		</button>
		<!-- Modal -->
		<div class="modal fade" id="modal-{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Confirmación necesaria</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Se eliminará definitivamente este podcast:
						<strong>{{ post.titulo }}</strong>.<br>
						¿Desea continuar?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						<a class="btn btn-danger ml-5" href="{{ path('eliminar_podcast', {'id':post.id}) }}">Borrar podcast</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>{% endblock %}
